@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0; margin: 0; box-sizing: border-box;
}
:root{
    --primary-color:     #0D2A43; 
    --secondary-color:   #D7B56D; 
    --angkor-stone:      #5D4037; 
    --golden-spice:      #E5C58B;
    --parchment:         #F8F9FA;
    --sand-whisper:      #FAF9F6;
    --night-indigo:      #1A365D;
    --camel-brown:       #8D6E63;
    --dark-oud:          #07121C;
}
body{
    font-family: "Kantumruy Pro", sans-serif !important;
    background-color: var(--sand-whisper) !important;
    color: var(--night-indigo) !important;
}

.hero-section {
    height: 110vh !important;
    width: 100% !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), url(../image_hotel/photo_2026-04-29_20-35-00.jpg)) !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    flex-direction: column !important;
}
.line-2 {
    font-weight: 350px !important;
    width: 620px !important;
    font-size: 50px !important;
    border-bottom: 3px solid var(--secondary-color) !important;
    
}
.find {
    color: var(--dark-oud) !important;
    border-radius: 10px !important;
    transition: 0.3s !important;
}

.find:hover {
    transform: scale(1.03) !important;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

/* Normal (inactive) tab */
.nav-pills .nav-link {
    background-color: transparent !important;
    color: var(--secondary-color) !important;
    /* yellow text */
    border: 1px solid var(--secondary-color) !important;
}

/* Active tab */
.nav-pills .nav-link.active {
    background-color: rgba(215, 181, 109, 0.5) !important;
    /* blue */
    color: white !important;
    border-color: var(--secondary-color) !important;
}

/* Hover effect */
.nav-pills .nav-link:hover {
    background-color: var(--secondary-color) !important;
    color: black !important;
}
.btn{
    color: var(--secondary-color) !important;
    padding: 3px 15px !important;
    border:2px solid var(--secondary-color) !important;
}
.btn:hover{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

img {}

img:hover {

    box-shadow: 0px 0px 10px 2px rgba(218, 165, 32, 0.274) !important;
}

.menu {
    width: 100% !important;
    height: auto !important;
    background-color: var(--primary-color) !important;
}

.all {
    color: var(--parchment) !important;
    border-radius: 4px !important;
    transition: 0.3s !important;
    border: 2px solid var(--secondary-color) !important;
    transition: 0.03s !important;
}

.all:hover {
    color: var(--primary-color) !important;
    border-radius: 4px !important;
    transition: 0.3s !important;
    background-color: var(--secondary-color) !important;
    transform: scale(1.02) !important;
}

.hotel {
    background-color: var(--primary-color) !important;
    box-shadow: 0px 0px 10px 2px rgba(215, 181, 109, 0.2) !important;

}

.hotel:hover {
    border: 2px solid var(--secondary-color) !important;
}

.line {
    font-weight: 400px !important;
    width: 270px !important;
    font-size: 5px !important;
    border-bottom: 1px solid var(--secondary-color) !important;
}

.tab-pane {
    display: none !important;
}

.tab-pane.active {
    display: block !important;
}
